
.app__about {
    width: 100%;
  }
  .app__profiles{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .app__profile-item h2{
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }

.about_text{
    font-size: 2rem;
}
.flex_center{
  display: flex;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.article-btn{
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-color);

  font-weight: 500;
  color: var(--white-color);
  outline: none;
  margin: 2rem 0 0 0;
  font-family: var(--font-base);

  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  cursor: pointer;

  &:hover {
    background-color: #2430af;
  }
}


a{
    text-decoration: none;
}

.article, .article p{
    color: #fff;
}