
  .prev-btn,
.next-btn {
  color: rgb(194, 6, 6);
  font-size: 1.25rem;
  
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.button-container{
align-items: center;
  justify-content: center;
  text-align: center;
}
.prev-btn:hover,
.next-btn:hover {
  color: rgb(192, 67, 67);
}
.random-btn {
  margin-top: 0.5rem;
  color: white;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius:   0.25rem;
  transition: all 0.3s linear;
  border-color: transparent;
  cursor: pointer;
}
.random-btn:hover {
  background:#ffffff;
  color:black ;
}
