.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .card{
    padding: 40px;
    border: 1px solid  var( --black-color);
    border-radius: 10px;
  }
  .card-title{
    font-size: 20px;
    margin: 15px 0;
    color: gray;
    padding: 5px;
  }
  
  .card-text{
    color: var(--clr-black);
  }
  
  .button {
    background-color: var(--clr-white);
    padding: 5px 10px;
    color: var(--clr-black);
  }
  