.home {
    display: grid;
    place-items: center;
  }
  
  .home__data {
   letter-spacing: 0.04em;
   text-transform: capitalize;
   line-height: 45px;
   padding: 20px;
   font-weight: 500;
    color: #fff; 
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .home__data h3{
      font-size: 1.5rem;
  }

.home_container {
    display: flex;
    justify-content: flex-end; 
    text-align: center;
   align-items: center;
}
.home__data p{
    color: #fff;
    font-size: 0.85rem;
    font-style: italic;
}
  .home__title-color {
    color: rgb(194, 6, 6);
    font-weight: 500;
    font-size: 2rem;
  }
  
  .home__social {
    display: block;
    align-items: center;
    font-size: 0.875rem;
    cursor: pointer;
    }
    .home__social li{
    margin: 0px 22px 0px 0px;
    display: inline-block;
    
    }
    .home__social a {
    font-size: 1.5rem;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    }
    

.home__social-icon {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .home__social-icon:hover {
    color: rgb(194, 6, 6);
  }
  
  .home__img {
    width: 60vw;
    height: 40vh;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
  } 
  .home__blob-img {
    width:  100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px dashed  rgb(194, 6, 6);
  }
  img {
    max-width: 350px;
    height: auto;
    display: block;
    opacity: 0.8;
  }
  
  @media screen and (min-width: 576px) {
    .home {
      padding: 4rem 0 2rem;
    }
    .home__social {
      padding-top: 0;
      padding-bottom: 2.5rem;

    }
    .home__social-icon {
      margin-bottom: 0;
      margin-right: 2rem;
    }
    .home__img {
      margin-left: auto;
      margin-right: auto;
    } 
    .home__blob-img {
      margin-left:auto;
      margin-right: auto;
    }
   
  }

  @media screen and (min-width: 992px) {
    
    .home {
      padding: 10rem 0 2rem;
    }
    .home__img {
      margin-left: auto;
      margin-right: auto;
    } 
    .home__blob-img {
      margin-left:auto;
      margin-right: auto;
    }
  }