/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6:rgb(143, 142, 142);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

}
.light-theme {
  --background-color: #fff;
  --text-color: #282c35;
  --primary-color: rgb(87, 20, 20);
}

.dark-theme {
  --background-color: #282c35;
  --text-color: #fff;
  --primary-color: rgb(87, 20, 20);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  overscroll-behavior-y: contain;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


button {
  -webkit-tap-highlight-color: white;
}
button .show-text .settings-btn{
  -webkit-tap-highlight-color: white;
  user-select: none;
  -webkit-user-select: none;
}
.container1 {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  height: 100%; 
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
}

@media(-ms-high-contrast:active ){
  
}

 /* Desktop mini-mode */
@media (max-width: 260px) {
  header {
      display: none;
  }
}
@media (max-height: 400px) and (max-width: 450px) {
  .container {
      justify-items: center;        
      max-width: 100%;
  }
}
  /* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  #cursor {
      animation: none;
  }
}
   
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.section-center h5{
  color: var(--clr-black);
  text-transform: uppercase;
  margin-top: auto;
  letter-spacing: 1.5px;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-center h1{
color: var(--clr-black);
text-transform: uppercase;
margin-top: auto;
letter-spacing: 1.5px;
font-size: 2em;
font-weight: 800;
margin: auto;
margin-bottom: 2rem;
}

.section-center p{
color: var(--clr-black);
margin: auto;
font-size: 1.2em;
font-weight: 500;
font-style: italic;
align-items: center;
margin-bottom: 1.25rem;
letter-spacing: 2px;
}

.socials {
display: block;
align-items: center;
margin-left: -35px;
font-size: 0.875rem;
cursor: pointer;
padding-bottom: 2rem;
}
.socials li{
margin: 0px 22px 0px 0px;
display: inline-block;

}
.socials a {
font-size: 1.5rem;
margin: 00.5rem;
color: var(--clr-white);
margin-right: auto;
margin-left: auto;

}

.socials a:hover {
color:rgb(194, 6, 6);
}


/* ABOUT */

.underline {
  width: 5rem;
  height: 0.25rem ;
  margin-bottom: 4rem;
  background-color: var(--clr-white);
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--clr-white);
  font-weight: 800;
}

article .text{
  text-transform:initial;
  letter-spacing: 2px;
  line-height: 30px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--clr-white);
}




.books{
  line-height: 45px;
  list-style-type: disc;
  letter-spacing: 1px;
  text-align: justify;

}


/* Contact*/
.content{
  justify-content: center;
  align-items: center;
  color: var(--clr-black);
  min-height: 100vh;
}

.content h1 {
  font-family: 'Andada Pro', serif;
  font-size: 48px;
  text-align: center;
  line-height: 80px;
  color: var(--clr-white);
}

.content p {
  align-items: center;
  text-align: justify;
  color: var(--clr-white);
  line-height: 30px;
  letter-spacing: 1px;
}




/* Projects*/

.data{
  color: #fff ;
  text-transform: capitalize;
  letter-spacing: 1.5;
  font-style: italic;
  font-size: 15px;
}
.data:hover{
  color: rgb(221, 217, 217);
}

.typical{ 
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 
}

.type{
  color: var(--clr-white);
  width: 100%;
  font-style: italic;
  font-weight: 500;
 padding: 5;
 transition: var(--transition);
 text-align: center;
 margin: 5rem;
margin-left: auto;
margin-right: auto;
}
.project-icon a {
  display: flex ;
  justify-content: space-between;

}


.git{
color: #fff ;
  font-size: 35px;
}
.git:hover{
 color: rgb(192, 185, 185);
}

/* Quote*/
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  padding: 40px;
  border-radius: var(--radius);
}
.card-title{
  font-size: 20px;
  margin: 15px 0;
  color: gray;
  padding: 5px;
}

.card-text{
  color: var(--clr-black);
}

.button {
  background-color: var(--clr-white);
  padding: 5px 10px;
  color: var(--clr-black);
}


.skill-box{
  cursor: pointer;
}
.skill-title{
  text-align: center;
  padding: .5rem;
  margin-bottom: .5rem;
}


.skill-icon{
  width: 100px;
  height: 100px;
}
.sec-line{
  border: 2px solid rgb(194, 6, 6);
}


