/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6:rgb(143, 142, 142);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

}
.light-theme {
  --background-color: #fff;
  --text-color: #282c35;
  --primary-color: rgb(87, 20, 20);
}

.dark-theme {
  --background-color: #282c35;
  --text-color: #fff;
  --primary-color: rgb(87, 20, 20);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  overscroll-behavior-y: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}





button {
  -webkit-tap-highlight-color: white;
}
button .show-text .settings-btn{
  -webkit-tap-highlight-color: white;
  user-select: none;
  -webkit-user-select: none;
}
.container1 {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  height: 100%; 
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
}

@media(-ms-high-contrast:active ){
  
}

 /* Desktop mini-mode */
@media (max-width: 260px) {
  header {
      display: none;
  }
}
@media (max-height: 400px) and (max-width: 450px) {
  .container {
      justify-items: center;        
      max-width: 100%;
  }
  /* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  #cursor {
      animation: none;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body, .container {
      background-color: #666;
  }
  h1 {
      color: #EEE;
  }
  #buttons button {
      background-color: #555;
      color: #EEE
  }
  #buttons button.operator {
      background-color: #888;
  }
  #buttons button.special {
      background-color: lightslategray;
  }
  #display {
      background-color: black;
      color: white;
  }
  #buttons button:hover {
      background-color: rebeccapurple;
  }
  #button_info {
      color: yellow;
  }
  #memory {
      background: #444;
      color: #DDD;
  }
}

  #memory, #button_clear, #button_info {
      display: none;
  }
}
@media (max-height: 290px) {
  #display output {
      font-size: 10vh;
  }
  #buttons button {
      background-color: silver;
      padding: 1vh 0;
      font-size: 8vh !important;
  }
  #cursor {
      display: none;
  }
}  
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}


/* Nav*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
 
}
/*Desktop View*/
.header { 
  display: flex;
  background: var(--clr-white);
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;

}
.logo-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 5.25rem;
}
.nav-options {
  padding-left: 20%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 50px;
  list-style-type: none;
  letter-spacing: var(--spacing);

}

.nav-options a{
  font-family: 'Andada Pro', serif;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-black);
  font-size: 1rem;
  display: flex;
  padding: auto;
}


.option :hover {
  color: var(--clr-black);
  padding-left: 1.5rem;
  border-bottom: 1px solid black;
}

.menu-icon {
  display: none;
}
@media (max-width: 765px) {
  /*Mobile View */
  .header {
    padding: 0px 20px;
  }
  .logo {
    height:4.25rem;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options a{
    text-decoration: none;
    color: var(--clr-black);
    text-transform: capitalize;
  }
  .nav-options.active {
    background:  var(--clr-white);
    color: var(--clr-black);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 22px;
    height: 22px;
    display: flex;
    cursor: pointer;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
  

  .signin-up {
    display: none;
  }
}
.mobile-menu {
  display: block;
  cursor: pointer;
color: var(--clr-black);
}

/* Home
header  {
  min-height: 100vh;
  background: linear-gradient(rgba(230, 243, 244, 0.5), rgba(0, 0, 0, 0.7)),
  url(./Images/OloriSketch.png)center/cover no-repeat;*/
     

.bg-photo {
  z-index: -10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35% !important;
  background-image: url(./Images/OloriSketch.png) !important;
  background-repeat: no-repeat;
  background-size: auto;
}

@media screen and (min-width: 768px){
  .bg-photo{
    left: 70% !important;
  }
  .banner{
    right: 10%;
  }
}

     

.banner {
position: fixed;
height: 100%;
display: flex;
justify-content: center;
align-items:center;
text-align: justify;
}

.section-center h5{
    color: var(--clr-black);
    text-transform: uppercase;
    margin-top: auto;
    letter-spacing: 1.5px;
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 2rem;
}



.section-center h1{
color: var(--clr-black);
text-transform: uppercase;
margin-top: auto;
letter-spacing: 1.5px;
font-size: 2em;
font-weight: 800;
margin: auto;
margin-bottom: 2rem;
}
.section-center p{
color: var(--clr-black);
margin: auto;
font-size: 1.2em;
font-weight: 500;
font-style: italic;
align-items: center;
margin-bottom: 1.25rem;
letter-spacing: 2px;
}
.socials {
display: block;
align-items: center;
margin-left: -35px;
font-size: 0.875rem;
cursor: pointer;
padding-bottom: 2rem;
}
.socials li{
margin: 0px 22px 0px 0px;
display: inline-block;

}
.socials a {
font-size: 1.5rem;
margin: 00.5rem;
color: var(--clr-black);
margin-right: auto;
margin-left: auto;

}

.socials a:hover {
color:var(--clr-black);
border-bottom: 2px solid black;
}


/* ABOUT */
.sec{
  font-family: 'Andada Pro', serif;
}
.underline {
  width: 5rem;
  height: 0.25rem ;
  margin-bottom: 4rem;
  background-color: var(--clr-black);
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--clr-black);
  font-weight: 800;
}


.about-logo{ 
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

article .text{
  font-family: 'Andada Pro', serif;
  text-transform:initial;
  letter-spacing: 2px;
  line-height: 30px;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--clr-black);
}


.skills h2{
  font-weight: 800;
  color: var(--clr-black);
}

.skills p {
  font-family: 'Andada Pro', serif;
  text-align: justify;
  color: var(--clr-black);
  line-height: 30px;
}

.books{
  line-height: 45px;
  list-style-type: disc;
  letter-spacing: 1px;
  text-align: justify;

}


/* Contact*/
.content{
  justify-content: center;
  align-items: center;
  color: var(--clr-black);
}

.content h1 {
  font-family: 'Andada Pro', serif;
  font-size: 48px;
  text-align: center;
  line-height: 80px;
}

.content p {
  font-family: 'Andada Pro', serif;
  align-items: center;
  text-align: justify;
  color: var(--clr-black);
  line-height: 30px;
  letter-spacing: 1px;
}




/* Projects*/
.project{
  width: 60vw !important;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  padding: 5rem 0;
}


.single-project {
  color: var(--clr-black);
  border-radius: var(--radius);
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  font-family: 'Andada Pro', serif;
  background: var(--clr-white);
  display: grid;
  gap: 1rem 2rem;
}


.single-project:hover {
  box-shadow: var(--dark-shadow);
}

.single-project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.project-info {
justify-content: center;
align-items: center;
margin-bottom: 0.3rem;
padding: 1rem; 
}
.project-info h4 {
  padding: 5px;
  font-size: 1.5rem;
}
.project-info p{
  padding:3px;
}

.data{
  background: var(--clr-black);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 1.5;
  font-style: italic;
}
.project-info p{
  color: var(--clr-black);
}

.project-list ul{
  display: block;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  padding: 0 1rem;
  list-style-type :disc;
}
.typical{ 
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 
}

.type{
  color: var(--clr-black);
  width: 100%;
  font-family: 'Andada Pro', serif;
  font-style: italic;
 padding: 5;
 transition: var(--transition);
 text-align: center;
}

@media screen and (min-width: 768px) {
  .single-project{
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem
  }
  .single-project img {
    height: 100%;
  }

}

/* Quote*/
.main{
  display: flex;
  justify-content: center;
  align-items: center;

}
.card{
  padding: 40px;
  border-radius: var(--radius);
}
.card-title{
  font-size: 20px;
  margin: 15px 0;
  color: gray;
  padding: 5px;
}

.card-text{
  color: var(--clr-black);
}

.button {

  background-color: var(--clr-black);
  padding: 5px 10px;
  color: var(--clr-white);
}

